@model psicologiamvc.Models.IndicePsi

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="gray-bg form-horizontal">

        @*<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>Indice del Expediente Psicológico</h2>
                </div>
            </div>*@

        <div class="row">

            <div class="col-lg-12">

                <div class="ibox">

                    <div class="ibox-title">

                        <h5>Indice del Expediente Psicológico</h5>

                    </div>

                    <div class="ibox-content">

                        <div class="row">

                            @Html.HiddenFor(model => model.idh, new { id = "idh", Value = ViewBag.sIdH })
                            @Html.HiddenFor(model => model.accion, new { id = "accion", Value = "2" })
                            @Html.HiddenFor(model => model.nBender, new { id = "nBender", Value = "0" })
                            @Html.HiddenFor(model => model.nBender, new { id = "nSolicitud", Value = "0" })
                            @Html.HiddenFor(model => model.nBender, new { id = "nFichapermanencia", Value = "0" })
                            @Html.HiddenFor(model => model.nBender, new { id = "nFichaloc", Value = "0" })
                            @Html.HiddenFor(model => model.nBender, new { id = "nAutorizacion", Value = "0" })
                            @Html.HiddenFor(model => model.nBender, new { id = "nExamen", Value = "0" })
                            @Html.HiddenFor(model => model.nBender, new { id = "nCambio", Value = "0" })
                            @Html.HiddenFor(model => model.nBender, new { id = "nWais", Value = "0" })
                            @Html.HiddenFor(model => model.nBender, new { id = "nBeta", Value = "0" })
                            @Html.HiddenFor(model => model.nBender, new { id = "n16pf", Value = "0" })
                            @Html.HiddenFor(model => model.nBender, new { id = "nLusher", Value = "0" })
                            @Html.HiddenFor(model => model.nBender, new { id = "nBarsit", Value = "0" })
                            @Html.HiddenFor(model => model.nBender, new { id = "nTat", Value = "0" })

                            <div class="col-lg-4">

                                <div class="panel panel-info">

                                    <div class="panel-heading">

                                        Formatos de Evaluacion

                                    </div>

                                    <div class="panel-body">

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Reporte de Integración Psicológica: </label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nIntegracion, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                    <label class="col-sm-8 control-label" style="text-align:left">Solicitud de Empleo: </label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.nSolicitud, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                    </div>
                </div>*@

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Ficha de Datos Personales:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nFicha, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                    <label class="col-sm-8 control-label" style="text-align:left">Ficha de Permanencia:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.nFichapermanencia, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                    </div>
                </div>*@

                                        @*<div class="form-group">
                    <label class="col-sm-8 control-label" style="text-align:left">Ficha de Loc:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.nFichaloc, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                    </div>
                </div>*@

                                        @*<div class="form-group">
                    <label class="col-sm-8 control-label" style="text-align:left">Formato de Autorización:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.nAutorizacion, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                    </div>
                </div>*@

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Hoja de Opinión y Comentarios:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nComentarios, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Hoja de No Concluyó:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nNoconcluyo, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                    <label class="col-sm-8 control-label" style="text-align:left">Exámen Mental:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.nExamen, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                    </div>
                </div>*@

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Formato de Entrevista:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nEntrevista, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Integración de Prueba Psicológica:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nPruebas, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                    <label class="col-sm-8 control-label" style="text-align:left">Cambio de Diagnóstico:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.nCambio, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                    </div>
                </div>*@

                                    </div>

                                </div>

                                <div class="panel panel-info">

                                    <div class="panel-heading">

                                        Test de Inteligencia

                                    </div>

                                    <div class="panel-body">

                                        @*<div class="form-group">
                    <label class="col-sm-8 control-label" style="text-align:left">WAIS:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.nWais, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                    </div>
                </div>*@

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Terman Merril:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nTerman, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                    <label class="col-sm-8 control-label" style="text-align:left">Beta II-R:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.nBeta, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                    </div>
                </div>*@

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Raven:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nRaven, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Beta III-R:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nBeta3, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="col-lg-4">

                                <div class="panel panel-info">

                                    <div class="panel-heading">

                                        Test de Personalidad

                                    </div>

                                    <div class="panel-body">

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">MMPI-II:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nMmpii, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">MMPI-2RF:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nMmp2rf, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                    <label class="col-sm-8 control-label" style="text-align:left">16PF:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.n16pf, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                    </div>
                </div>*@

                                        @*<div class="form-group">
                    <label class="col-sm-8 control-label" style="text-align:left">Luscher:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.nLusher, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                    </div>
                </div>*@

                                        @*<div class="form-group">
                    <label class="col-sm-8 control-label" style="text-align:left">Barsit:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.nBarsit, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                    </div>
                </div>*@

                                    </div>

                                </div>

                                <div class="panel panel-info">

                                    <div class="panel-heading">

                                        Test Proyectivos

                                    </div>

                                    <div class="panel-body">

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Autobiografía:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nAutobiografia, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Machover:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nMachover, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Bajo la Lluvia:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nLluvia, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                    <label class="col-sm-8 control-label" style="text-align:left">TAT:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.nTat, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                    </div>
                </div>*@

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">HTP:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nHtp, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">SACKS:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nSacks, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="panel panel-info">

                                    <div class="panel-heading">

                                        Adaptabilidad

                                    </div>

                                    <div class="panel-body">

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Cleaver:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nCleaver, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="col-lg-4">

                                <div class="panel panel-info">

                                    <div class="panel-heading">

                                        Evaluación Cognitiva

                                    </div>

                                    <div class="panel-body">

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Moca:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nMoca, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="panel panel-info">

                                    <div class="panel-heading">

                                        Hoja de Observaciones en Grupo

                                    </div>

                                    <div class="panel-body">

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Hoja de Observaciones de Psicometría:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nGrupo, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="panel panel-info">

                                    <div class="panel-heading">

                                        Otros

                                    </div>

                                    <div class="panel-body">

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" style="text-align:left">Especifique:</label>
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(model => model.cOtro, new { @class = "form-control", placeholder = "Especifique" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Cantidad:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.nOtro, new { @class = "form-control", @type = "number", @onchange = "sumar()" })
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="panel panel-info">

                                    <div class="panel-heading">

                                        Total Fojas

                                    </div>

                                    <div class="panel-body">

                                        <div class="form-group">
                                            <label class="col-sm-8 control-label" style="text-align:left">Cantidad:</label>
                                            <div class="col-sm-4">
                                                @Html.TextBox("total", "", new { @class = "form-control", @type = "number" })
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @*<button class="btn btn-primary mensaje" type="submit">Guardar Indice</button>*@
                                <button type="button" class="btn btn-primary" onclick="editarIndice();">Editar Indice</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
}

@section scripts
{
    <script language="javascript">

        $(document).ready(function () {
            sumar();
        });

        function editarIndice() {

            var _idh = $("#idh").val();
            var _nIntegracion = $("#nIntegracion").val();
            var _nSolicitud = $("#nSolicitud").val();
            var _nFicha = $("#nFicha").val();
            var _nFichapermanencia = $("#nFichapermanencia").val();
            var _nFichaloc = $("#nFichaloc").val();
            var _nAutorizacion = $("#nAutorizacion").val();
            var _nComentarios = $("#nComentarios").val();
            var _nNoconcluyo = $("#nNoconcluyo").val();
            var _nExamen = $("#nExamen").val();
            var _nEntrevista = $("#nEntrevista").val();
            var _nPruebas = $("#nPruebas").val();
            var _nCambio = $("#nCambio").val();
            var _nWais = $("#nWais").val();
            var _nTerman = $("#nTerman").val();
            var _nBeta = $("#nBeta").val();
            var _nRaven = $("#nRaven").val();
            var _nMmpii = $("#nMmpii").val();
            var _n16pf = $("#n16pf").val();
            var _nAutobiografia = $("#nAutobiografia").val();
            var _nMachover = $("#nMachover").val();
            var _nLluvia = $("#nLluvia").val();
            var _nTat = $("#nTat").val();
            var _nCleaver = $("#nCleaver").val();
            var _nBender = $("#nBender").val();
            var _nGrupo = $("#nGrupo").val();
            var _nLusher = $("#nLusher").val();
            var _cOtro = $("#cOtro").val();
            var _nOtro = $("#nOtro").val();
            var _nBarsit = $("#nBarsit").val();
            var _nBeta3 = $("#nBeta3").val();
            var _nHtp = $("#nHtp").val();
            var _nSacks = $("#nSacks").val();
            var _accion = $("#accion").val();
            var _nMoca = $("#nMoca").val();
            var _nMmp2rf = $("#nMmp2rf").val();

            //alert("idh: " + _idh + " | Integracion: " + _nIntegracion + " | Solicitud: " + _nSolicitud + "| Ficha: " + _nFicha + " | FichaPermanencia: " + _nFichapermanencia + " | FichaLoc: " + _nFichaloc + " | Autorizacion: " + _nAutorizacion + " | Comentario: " + _nComentarios + " | NoConcluyo: " + _nNoconcluyo + " | Examen: " + _nExamen + " | Entrevista: " + _nEntrevista + " | Pruebas: " + _nPruebas + " | Cambio: " + _nCambio + " | WAIS: " + _nWais + " | Terman: " + _nTerman + " | Beta: " + _nBeta + " | Raven: " + _nRaven + " | Mmpi: " + _nMmpii + " | 16pf: " + _n16pf + " | Autobiografia: " + _nAutobiografia + " | Machover: " + _nMachover + " | Lluvia: " + _nLluvia + " | Tat: " + _nTat + " | Cleaver: " + _nCleaver + " | Bender: " + _nBender + " | Grupo: " + _nGrupo + " | Lusher: " + _nLusher + " | Otro texto: " + _cOtro + " | Otro numero: " + _nOtro + " | Barsit: " + _nBarsit + " | Beta3: " + _nBeta3 + " | Htp: " + _nHtp + " | Sacks: " + _nSacks + " | Accion: " + _accion);

            var url = "@Url.Action("AddUpdIndice", "IndicePsi")";
            var data = { idh: _idh, nIntegracion: _nIntegracion, nSolicitud: _nSolicitud, nFicha: _nFicha, nFichapermanencia: _nFichapermanencia, nFichaloc: _nFichaloc, nAutorizacion: _nAutorizacion, nComentarios: _nComentarios, nNoconcluyo: _nNoconcluyo, nExamen: _nExamen, nEntrevista: _nEntrevista, nPruebas: _nPruebas, nCambio: _nCambio, nWais: _nWais, nTerman: _nTerman, nBeta: _nBeta, nRaven: _nRaven, nMmpii: _nMmpii, n16pf: _n16pf, nAutobiografia: _nAutobiografia, nMachover: _nMachover, nLluvia: _nLluvia, nTat: _nTat, nCleaver: _nCleaver, nBender: _nBender, nGrupo: _nGrupo, nLusher: _nLusher, cOtro: _cOtro, nOtro: _nOtro, nBarsit: _nBarsit, nBeta3: _nBeta3, nHtp: _nHtp, nSacks: _nSacks, accion: _accion, nMoca: _nMoca, nMmp2rf: _nMmp2rf };
            $.post(url, data).done(function (data) {
                if(data == "Ok")
                {
                    location.href = '@Url.Action("PsiIndiceEditar", "Message")';
                }
            }).fail(manejarErrorAjax);
        }

        function sumar() {

            var total = 0;

            total = parseInt($("#nIntegracion").val()) + parseInt($("#nSolicitud").val()) + parseInt($("#nFicha").val()) + parseInt($("#nFichapermanencia").val()) + parseInt($("#nFichaloc").val()) + parseInt($("#nAutorizacion").val()) + parseInt($("#nComentarios").val()) + parseInt($("#nNoconcluyo").val()) + parseInt($("#nExamen").val()) + parseInt($("#nEntrevista").val()) + parseInt($("#nPruebas").val()) + parseInt($("#nCambio").val()) + parseInt($("#nWais").val()) + parseInt($("#nTerman").val()) + parseInt($("#nBeta").val()) + parseInt($("#nRaven").val()) + parseInt($("#nBeta3").val()) + parseInt($("#nMmpii").val()) + parseInt($("#n16pf").val()) + parseInt($("#nLusher").val()) + parseInt($("#nBarsit").val()) + parseInt($("#nCleaver").val()) + parseInt($("#nAutobiografia").val()) + parseInt($("#nMachover").val()) + parseInt($("#nLluvia").val()) + parseInt($("#nTat").val()) + parseInt($("#nHtp").val()) + parseInt($("#nSacks").val()) + parseInt($("#nMoca").val()) + parseInt($("#nGrupo").val()) + parseInt($("#nOtro").val()) + parseInt($("#nMmp2rf").val());

            $("#total").val(total);
        }

        function manejarErrorAjax(err) {
            console.log(err.responseText);
        }

    </script>
}