@model psicologiamvc.Models.Logeo

@{
    ViewBag.Title = "PSICO SISE";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h2 class="logo-name">S I S E</h2>
        </div>

        <h3>Bienvenido a SISE Web</h3>

        @*<p>
            Administración, control, consultas e impresiones de las evaluaciones psicológicas realizadas.
        </p>*@

        <section class="m-t">
            @using (Html.BeginForm("acceso", "Home", FormMethod.Post, new { id = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="input-icon">
                        @Html.TextBoxFor(m => m.UserName, new { placeholder = "Ingrese su usuario", @class = "form-control placeholder-no-fix", name = "username", @required = "required", @aria_required = true })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon">
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Ingrese su contraseña", @class = "form-control placeholder-no-fix", name = "password", @type = "password", @required = "required" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                @Html.ValidationSummary(true)

                <button type="submit" class="btn btn-success block full-width m-b">Entrar</button>

            }
        </section>
    </div>
</div>