<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>

    @*<link href="~/Content/inspinia/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">

        <link href="~/Content/inspinia/css/animate.css" rel="stylesheet">
        <link href="~/Content/inspinia/css/style.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <link href="~/Content/logo/normalize.css" rel="stylesheet" />
        <link href="~/Content/logo/linkstyles.css" rel="stylesheet" />

        <link href="~/Content/custom.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

  <body class="gray-bg-2"> 

@*<body style="background: url(@Url.Content("~/Content/img/fondoPsi.png") no-repeat center center fixed; background-size: cover;">*@

    @RenderBody()

    @*<script src="~/Content/inspinia/js/jquery-2.1.1.js"></script>
        <script src="~/Content/inspinia/js/bootstrap.min.js"></script>*@

    <!-- Jquery Validate -->
    @*<script src="~/Content/inspinia/js/plugins/validate/jquery.validate.min.js"></script>*@
    <script src="~/Scripts/js-msg.js"></script>




    @RenderSection("scripts", required: false)
</body>
</html>
