@model IEnumerable<psicologiamvc.Models.Consultas>

@{
    ViewBag.Title = "IndexRed";
}

@using (Html.BeginForm("IndexRed", "Red", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            Busqueda Referencias en la Red de Vínculos
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.TextBox("cadena", "", new { @class = "form-control", placeholder = "Evaluado - Alias - Mote" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
                <tr>
                    <th>VINCULADOR</th>
                    <th>NOMBRE REFERIDO</th>
                    <th>PATERNO REFERIDO</th>
                    <th>MATERNO REFERIDO</th>
                    <th>GENERO</th>
                    <th>ALIAS</th>
                    <th>MUNICIPIO</th>
                    <th>REFERENCIA</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.vinculador)</td>
                        <td>@Html.DisplayFor(modelItem => item.nombreReferido)</td>
                        <td>@Html.DisplayFor(modelItem => item.paternoReferido)</td>
                        <td>@Html.DisplayFor(modelItem => item.maternoReferido)</td>
                        <td>@Html.DisplayFor(modelItem => item.genero)</td>
                        <td>@Html.DisplayFor(modelItem => item.alias)</td>
                        <td>@Html.DisplayFor(modelItem => item.municipio)</td>
                        <td>@Html.DisplayFor(modelItem => item.referencia)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@*@if (Model != null)
    {
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                <th>Fecha</th>
                <th>Area</th>
                <th>Evaluado</th>
                <th>Referido</th>
                <th>Genero</th>
                <th>Alias</th>
                <th>Municipio</th>
                <th>Referencia</th>
                <th>Foto</th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.area)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.evaluado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.evaluadoReferido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.genero)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.alias)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.mun_desc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.referencia)
                            </td>
                            <td>
                                <img src="@Url.Content("~/Images/"+@item.IdH+".Jpeg")" width="100" height="120" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }*@