@model IEnumerable<psicologiamvc.Models.Usuarios>

@{
    ViewBag.Title = "ObtenerUsuario";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Personal activo</h2>
        <ol class="breadcrumb">
            <li>
                Inicio
            </li>
            <li>
                Catalogos
            </li>
            <li class="active">
                <strong>Personal</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="contact-box">

                        <div class="col-sm-4">
                            <div class="text-center">

                                @{
                                    //para verlo en mi proyecto
                                    //var rutaFoto = "/Content/img/" + @item.Id_Usuario.ToString() + ".jpg";

                                    //para verlo en servidor
                                    var rutaFoto = "/fotoUser/" + @item.Id_Usuario + ".jpg";
                                }

                                <img alt="image" class="img-circle m-t-xs img-responsive" src="@rutaFoto">
                                <div class="m-t-xs font-bold">
                                    @item.Id_Usuario<br>
                                    @item.UsuarioSise
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h5><strong>@item.NombreCompleto</strong></h5>
                            <p><i class="fa fa-map-marker"></i> C3 - DAP</p>
                            <address>
                                <strong>@item.Desc_Rol</strong><br>
                                Activo
                            </address>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            }
        </div>


    </div>
</div>